{% extends 'base.html' %}
{% block content %}

<h1>Update Event</h1>

<div class="login-page extra">
    <div class="form less">
        <form class="login-form" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn purple lighten-4" value="SAVE">
        </form>
    </div>
</div>

  <script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      setDefaultDate: false,
      autoClose: true
    });
  </script>
{% endblock %}