{% extends 'base.html' %}

{% block content %}
<br>
<h1>Add an Event</h1>
<br>
  <form action="{% url 'event_create' %}" method="post">
    {% csrf_token %}
        <label for="name">Event Name: </label>
        <input id="name" type="text" name="name" value="{{ name }}">
        <label for="date">Date: </label>
        <input id="calendar" type="date" name="date" value="{{ date }}">
        <label for="category">Category: </label>
        <input id="category" list="CATEGORIES" name="category" value="{{ category }}">
        <datalist id="CATEGORIES">
            <option name="concert" value="Concert"></option>
            <option name="networking" value="Networking"></option>
            <option name="food-drink" value="Food/Drink"></option>
            <option name="market" value="Market"></option>
        </datalist>
        <label for="location">Location: </label>
        <input id="location" type="text" name="location" value="{{ location }}">

    <input type="submit" value="Add Event!" class="btn purple lighten-4">
  </form>
  <script>
    var dateEl = document.getElementById('calendar');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  </script>
{% endblock %}