{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'event_create' %}" method="post">
    {% csrf_token %}
   <table>
      {{ form.as_table }}
   </table>
    <input type="submit" value="Add Event!" class="btn">
  </form>
  <script>
    // create a datepicker
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    // initialize the location select
    var selectEl = document.getElementById('id_location');
    M.FormSelect.init(selectEl);
  </script>
{% endblock %}