{% extends 'base.html' %}
{% block content %}

<div class="detail-container">
<div class="col-1">
<h1>Event Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ event.name }}</span>
    <p>Date: {{ event.date }}</p>
    <p>Category: {{ event.category }}</p>
    <p>Location: {{ event.location }}</p>

    <div class="card-action">
        {% if event.user_id == creatorid %}
        <a href="{% url 'event_update' event.id %}">Edit</a>
        <a href="{% url 'event_delete' event.id %}">Delete</a>
        {% elif not userisattending %}
        <a href="{% url 'event_attend' event.id %}">Attend Event</a>
        {% endif %}
      </div>
  </div>
</div>
</div>

<div class="detail-col-2">
<h2>Who is attending</h2>
<ul class="collection">
{% for attendee in attendees %}
<li class="collection-item">{{ attendee.first_name }} {{ attendee.last_name }}</li>
{% endfor %}
</div>
</ul>
</div>

{% for photo in event.photo_set.all %}
    <img class="responsive-img card-panel" src="{{ photo.url }}">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' event.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
{% endblock %}