body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}


h1, h2 {
    font-family: 'Lilita One', cursive !important;
}

.brand-logo {
    font-family: 'Lilita One', cursive !important;
}

.card-title {
    font-weight: bold !important;
}

.card-content {
    font-size: 1.1em;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-col-2 {
    margin: 2em;
}

@media all and (max-width: 711px) {
    main {
        display: grid;
    }

    nav .brand-logo.left {
        margin-top: 1em;
    }

    nav {
        height: 6em;
    }

    .detail-container {
        display: grid;
        grid-template-columns: 1fr;
    }
  }